{% extends 'base.html' %}

{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{products.image.url}}" alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{products.name}}</h1>
                <div class="fs-5 mb-5">
                    <span>${{products.price}}</span>
                </div>
                <p class="lead">{{books.disckription}}</p>
                <div class="d-flex">
                    {% if user.user_role == 'client' %}
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input class="form-control text-center me-3" id="inputQuantity" name="cart" type="num" value="1"
                            style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </form>
                    {% elif user.user_role == 'seller' %}
                    
                    <a href="{ url 'users:delete' product.id }" class="btn btn-outline-danger">Delete</a>
                    
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}